body, html {
    font-family: "Lucida Grande", "Tahoma";
    padding: 0;
    margin: 0;
    background: #ddd;
}

h1 {
    color: #fff;
    padding: 0.2em;
    margin: 0;
    text-align: center;
    background-image: -webkit-linear-gradient(top, #333, #555);
}

.content {
    padding-bottom: 128px;
}

form {
    padding: 2em;
    p {
        position: relative;
        height: 1.5em;
        padding: 0.5em;
        margin: 0;
    }
    label {
        position: absolute;
        left: 5%;
    }
    input, textarea {
        position: absolute;
        left: 35%;
        width: 60%;
        height: 1.5em;
    }
    input[type="submit"] {
        width: 20%;
        left: 40%;
        font-size: 30px;
    }
}

ul.toolbar {
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: -webkit-linear-gradient(top, transparent 0%, transparent 10%, #333 10%, #555 90%, transparent 90%, transparent 100%);
    list-style: none;
    li {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 32%;
        display: inline-block;
        text-align: center;
        &.current {
            background-image: -webkit-linear-gradient(top, darken(red, 10%), darken(red, 20%));
        }
    }
}

ul.messages {
    list-style: none;
}
li.info {
    background: lighten(yellow, 20%);
    box-shadow: darken(yellow, 10%) 0px 0px 2px 2px;
    padding: 2%;
    width: 300px;
    margin: auto;
}

