body, html {
  font-family: "Lucida Grande", "Tahoma";
  padding: 0;
  margin: 0;
  background: #ddd; }

h1 {
  color: #fff;
  margin: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#555555));
  background: -webkit-linear-gradient(#333333, #555555);
  font-size: 20px;
  height: 34px; }

.content {
  padding-bottom: 128px; }

form {
  padding: 1em; }
  form p {
    position: relative;
    height: 1.5em;
    padding-top: 0em;
    padding-bottom: 0.5em;
    margin: 0; }
  form label {
    font-size: 12px;
    position: absolute;
    bottom: 14px;
    left: 10px; }
  form input, form textarea {
    position: absolute;
    right: 10px;
    left: 90px;
    height: 1.5em; }
  form input[type="submit"] {
    width: 110px;
    font-size: 18px; }

ul.toolbar {
  z-index: 2;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, transparent 10%, #333333 10%, #555555 90%, transparent 90%, transparent 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(10%, transparent), color-stop(10%, #333333), color-stop(90%, #555555), color-stop(90%, transparent), color-stop(100%, transparent));
  list-style: none; }
  ul.toolbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 32%;
    display: inline-block;
    text-align: center; }
    ul.toolbar li.current {
      background-image: -webkit-linear-gradient(#cc0000, #990000);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc0000), color-stop(100%, #990000)); }
  ul.toolbar img {
    width: 64px;
    height: 64px; }

ul.messages {
  list-style: none; }

li.info {
  background: #ffff66;
  box-shadow: #cccc00 0px 0px 2px 2px;
  position: absolute;
  text-align: center;
  padding: 5px;
  left: 10px;
  right: 10px;
  font-size: 12px; }

ul.errorlist {
  list-style: none;
  margin: 10px; }
  ul.errorlist li {
    background: #ff6666;
    text-align: center;
    padding: 5px;
    width: 200px;
    font-size: 12px; }

table {
  margin: 10px;
  background: #eee;
  padding: 2px; }
  table tr {
    padding: 2px; }
  table td {
    white-space: nowrap;
    border-bottom: 1px #e0e0e0 solid;
    margin: 0; }
    table td:last-of-type {
      text-align: right; }
  table tr:last-of-type td {
    border-bottom: 0; }
  table td.description {
    width: 100%; }

div.summary {
  margin: 10px;
  background: #eee;
  padding: 2px 20px 10px 20px; }

body, ul, li {
  padding: 0;
  margin: 0;
  border: 0; }

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none; }

#wrapper {
  position: absolute;
  z-index: 1;
  top: 34px;
  bottom: 76px;
  left: 0;
  width: 100%;
  overflow: auto; }

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0; }

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left; }

#scroller li {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  background-color: #fafafa;
  font-size: 14px; }

#myFrame {
  position: absolute;
  top: 0;
  left: 0; }
